services:

  sql-server:
    image: ${MSSQL_IMAGE_NAME}
    container_name: sql-server
    restart: unless-stopped
    user: root
    volumes:
      - ./data/sql-server/data:/var/opt/mssql/data
      - ./data/sql-server/log:/var/opt/mssql/log
    ports:
      - ${MSSQL_PORT}:1433
    environment:
      SA_PASSWORD: ${MSSQL_PASSWORD}
      ACCEPT_EULA: "Y"
    networks:
      - prog_coder_network
    healthcheck:
      test: /opt/mssql-tools/bin/sqlcmd -S localhost -U SA -P "${MSSQL_PASSWORD}" -Q "SELECT 1" || exit 1
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  postgres-sql:
    image: ${POSTGRES_IMAGE_NAME}
    container_name: postgres-sql
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_MULTIPLE_DATABASES: ${POSTGRES_MULTIPLE_DATABASES}
    ports:
      - ${POSTGRES_PORT}:5432
    volumes:
      - ./data/postgres-sql:/var/lib/postgresql/data
      - ./config/postgres-sql:/docker-entrypoint-initdb.d
    entrypoint: ["/bin/bash", "-c", "chmod +x /docker-entrypoint-initdb.d/*.sh && docker-entrypoint.sh postgres"]
    networks:
      - prog_coder_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d postgres -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  keycloak:
    image: ${KEYCLOAK_IMAGE_NAME}
    container_name: keycloak
    restart: unless-stopped
    command:
      - start
    volumes:
      - ./config/keycloak/providers:/opt/keycloak/providers
    environment:
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: ${KEYCLOAK_PORT}
      KC_HOSTNAME_STRICT_BACKCHANNEL: false
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HEALTH_ENABLED: true
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres-sql/keycloak_db # Use the database name from POSTGRES_MULTIPLE_DATABASES
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      WEBHOOK_URL: ${WEBHOOK_URL}
    ports:
      - ${KEYCLOAK_PORT}:8080
    depends_on:
      - postgres-sql
    networks:
      - prog_coder_network

  redis:
    image: ${REDIS_IMAGE_NAME}
    container_name: redis
    restart: unless-stopped
    ports:
      - ${REDIS_PORT}:6379
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASSWORD}
    volumes: 
      - ./data/redis:/data
    networks:
      - prog_coder_network

  minio:
    image: ${MINIO_IMAGE_NAME}
    container_name: minio
    command: server --console-address ":9001" /data
    restart: unless-stopped
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      MINIO_PROMETHEUS_AUTH_TYPE: public
    hostname: minio
    ports:
      - ${MINIO_API_PORT}:9000
      - ${MINIO_UI_PORT}:9001
    volumes:
      - ./data/minio:/data
    networks:
      - prog_coder_network
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5
  
  rabbitmq:
    image: ${RABBITMQ_IMAGE_NAME}
    container_name: rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
    ports:
      - ${RABBITMQ_CONNECT_PORT}:5672
      - ${RABBITMQ_UI_PORT}:15672
      - ${RABBITMQ_METRICS_PORT}:15692
    volumes:
      - ./data/rabbitmq:/var/lib/rabbitmq
      - ./config/rabbitmq/rabbitmq_enabled_plugins:/etc/rabbitmq/enabled_plugins
    networks:
      - prog_coder_network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
      interval: 30s
      timeout: 10s
      retries: 3

  mailhog:
    image: ${MAILHOG_IMAGE_NAME}
    container_name: mailhog
    restart: unless-stopped
    ports:
      - ${MAILHOG_SMTP_PORT}:1025
      - ${MAILHOG_WEB_UI}:8025
    networks:
      - prog_coder_network
      
networks:
  prog_coder_network: