global:
  scrape_interval: 15s # By default, scrape targets every 15 seconds.

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'progcoder-monitor'

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'
    basic_auth:
      username: 'admin'
      password: '123456789Aa'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'rabbitmq_server'
    static_configs:
      - targets: ['rabbitmq:15692']

  - job_name: 'rabbitmq_exporter'
    static_configs:
      - targets: ['rabbitmq_exporter:9419']

  - job_name: minio
    metrics_path: /minio/v2/metrics/cluster
    static_configs:
      - targets: ['minio:9000']

  - job_name: elasticsearch_exporter
    static_configs:
      - targets: ['elasticsearch_exporter:9114']
    
  - job_name: redis_exporter
    static_configs:
      - targets: ['redis_exporter:9121']

  - job_name: 'otel_collector'
    static_configs:
      - targets: ['otel_collector:8889']
      - targets: ['otel_collector:8888']

  - job_name: 'loki'
    static_configs:
    - targets: ['loki:3100']
    
  - job_name: 'promtail'
    static_configs:
    - targets: ['promtail:9080']
    
  - job_name: 'microservices'
    scheme: 'https'
    metrics_path: '/metrics'
    tls_config:
      insecure_skip_verify: true
    file_sd_configs:
      - files:
          - 'services/*.yml'
        refresh_interval: 30s

    # Relabeling to handle different service paths
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
      - source_labels: [service_name]
        target_label: service
      - source_labels: [service_path]
        target_label: __metrics_path__
        regex: (.+)
        replacement: $1/metrics

rule_files:
  - "alert.rules"

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets: ['alertmanager:9093']