apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: true
    uid: prometheus
    version: 1
    
  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    isDefault: false
    editable: true
    uid: loki
    version: 1
    jsonData:
      maxLines: 1000
      derivedFields:
        - datasourceName: Prometheus
          matcherRegex: "(?:trace_id|trace)=(\\w+)"
          name: TraceID
          url: "$${__value.raw}"